@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* variables */
:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* utility styles */
button {
  padding: 10px 3opx;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #100e0f;
}

/* Navigation start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
}

li {
  display: inline;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
}

/* Navigation start */
